@import "../.././../../scss/variables";

a,
a:hover {
    text-decoration: none !important;
    cursor: pointer !important;
    color: #fff !important;
}

.navbar {
    background-color: $mainColor;
    color: #fff !important;
}

.navbar a.active {
    color: $secondColor !important;
}


.bg-lang{
    background-color: transparent;
    box-shadow: $shadow;
    border-radius: 8px;
    padding-block: 10px;
    padding-inline: 20px;
}