<section class="container m-auto">
    <div class="row gy-3">
        <div class="col-md-3">
            <div class="allUsers d-flex justify-content-center align-items-center">
                <div class="text-center">
                    <img src="assets/images/users.png" class="w-100" alt="users">
                    <p class="userNumber">{{allUsers.length}}</p>
                    <p class="requestAddress"> {{'users.users' |translate}}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex mt-4">
        <div class="w-75">
            <div class="search">
                <input type="text" placeholder="{{'users.filter' |translate}}" class="form-control"
                    [(ngModel)]="dataService">
            </div>
        </div>

        <div class="w-25 mx-1">
            <fieldset>
                <select class="w-100 py-2 text-muted listBox" id="standard-select" [(ngModel)]="data">
                    <option>active</option>
                    <option>soft-deleted</option>
                </select>
            </fieldset>
        </div>
    </div>


    <div class="boxOver mt-4">
        <div class="tableShadow">
            <table class="table">
                <thead class="text-center thead">
                    <tr>
                        <th>{{'users.date' | translate}}</th>
                        <th>{{'users.name' | translate}}</th>
                        <th>{{'users.email' | translate}}</th>
                        <th>{{'users.phone' | translate}}</th>
                        <th>{{'users.status' | translate}}</th>
                        <th></th>
                        <th></th>
                    </tr>

                </thead>
                <tbody>
                    <tr *ngFor="let item of allUsers  |  filter:dataService  | filter:data ; let index=index">
                        <td>{{item.createdAt | date}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.email}}</td>
                        <td>{{item.phone}}</td>
                        <td>{{item.status}}</td>
                        <td><i class="fa-regular fa-pen-to-square"></i></td>
                        <td><i class="fa-solid fa-trash text-danger"></i></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>